<form (ngSubmit)="onSubmit()" #betPlacementForm="ngForm">
  <mat-card style="margin-top:8px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon color="primary">casino</mat-icon>
      </div>
      <mat-card-title>
        Place Bets
      </mat-card-title>
      <mat-card-subtitle>
        Win coins by guessing artists
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Select an artist you think will be played, the number of rounds you would like to place that wager for, and your password
        to validate the transaction.
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Artist" [matAutocomplete]="auto" required [formControl]="artistCtrl">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
            {{ artist }}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field style="width: 100%">
          <input matInput id="numOfRounds" min="1" placeholder="Number of rounds (Future songs)" required type="number" [formControl]="numberOfRoundsCtrl">
          <mat-hint align="start">
            <strong>Max of 50 rounds</strong>
          </mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Password" autocomplete="current-password" id="password" required type="password" [formControl]="passwordCtrl">
          <mat-hint align="start">
            <strong>Password used to create your wallet</strong>
          </mat-hint>
        </mat-form-field>
        <p>Each bet costs Ꮻ 1, for each rounds you are wagering. You are allowed to bet as many times as you want per round.</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="submit" color="accent" mat-button>PLACE BET</button>
    </mat-card-actions>
  </mat-card>
</form>
