<md-card >
  <md-card-title>
    My Wallet
  </md-card-title>
  <md-card-content *ngIf="wallet">
    <md-list align="middle">
      <md-list-item style="text-align:center">
        <md-icon [ngStyle]="{ 'color': '#' + wallet.id.substring(2,8) }">label</md-icon>
        <h5>
          {{wallet.id}}
        </h5>
      </md-list-item>
      <md-list-item style="text-align:center">
        <h1>
          Ꮻ {{wallet.balance | number : '1.4-4'}}
        </h1>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>