<md-card style=margin-top:8px>
  <md-card-header>
    <md-card-title>Rockchain FAQ</md-card-title>
  </md-card-header>
  <md-card-content dense>
    <p>
      Rockchain is a mock betting app with hardware and blockchain components. Bet valueless OmniCoin on which artist you think will play from our stream next and track your progress against other players to win prizes and raise money for the charity of your choosing.
    </p>
    <h3 md-line>
      What is Rockchain?
    </h3>
    <p>
      Rockchain is a mock betting app with hardware and blockchain components. Bet valueless OmniCoin on which artist you think will play from our stream next and track your progress against other players to win prizes and raise money for the charity of your choosing.
    </p>
    <p>
      After you register, feel free to place bets on your favorite artist from the genre playing each day (check the Omni Resources booth for more information) and watch the blockchain go!
    </p>
    <h3 md-line>
      How do I win?
    </h3>
    <p>
      If you picked the correct artist for the current round, your wallet will be automatically paid out by our smart contract (also on the blockchain) and the next round will commence. Since data from the blockchain is streaming to the web client on an ongoing basis, there is little record of past rounds in the app, although we would have implimented that if we had more time!
    </p>
    <h3 md-line>
      Why do I pick a charity?
    </h3>
    <p>
      In an attempt to keep players interested throughout the entire game time, encourage late sign-ups, create tribes within the game, and because we were talking about charitable giving anyway, we decided to implement this system to allow players to pick a charity for their coins to count towards (as a percentage of 500 real dollars).
    </p>
    <h3 md-line>
      Why are there small fractions of OmniCoin deducted from my wallet?
    </h3>
    <p>
      Every time you transact with our blockchain network in a way that impacts the state of the contract brokering the game, there is a cost associated with that transaction that is paid to miners who validate the authenticity of the transaction. This cost is paid in an increment of OmniCoin/Ether called Gas, which is normally a very small amount of OmniCoin/Ether. This is the cost of doing business on the blockchain!
    </p>
    <h3 md-line>
      How accurate are the genres?
    </h3>
    <p>
      Very, but please be aware that the music algorithm may play songs outside the decade of the listed daily genre - this is almost entirely out of our control. Luckily, this should be an uncommon occurance.
    </p>
    <h3 md-line>
      How do I know which genre will be playing next?
    </h3>
    <p>
      The current genre will change daily as follows:
    </p>
    <ul>
      <li>
        Monday: 70s Rock
      </li>
      <li>
        Tuesday: 80s Rock
      </li>
      <li>
        Wednesday: 90s Alternative
      </li>
    </ul>
  </md-card-content>
</md-card>