<app-wallet *ngIf="wallet && wallet.id" [wallet]="wallet"></app-wallet>

<app-faq *ngIf="!wallet || !wallet.id"></app-faq>

<app-login *ngIf="!wallet || !wallet.id"></app-login>

<app-registration *ngIf="!wallet || !wallet.id" #registrationComponent (onRegister)="registerAccount($event)"></app-registration>

<app-now-playing [song]="wagerService.songChanged$ | async" (onLike)="like($event)" (onDislike)="dislike($event)"></app-now-playing>

<app-current-round></app-current-round>

<app-charity-standings> </app-charity-standings>

<app-bet-placement *ngIf="wallet && wallet.id" #betPlacementComponent (onBet)="placeBetByRound($event)"></app-bet-placement>

<app-wallet-standings></app-wallet-standings>

<app-faq *ngIf="wallet && wallet.id"></app-faq>