<mat-card style="margin-top:8px">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary">assignment</mat-icon>
    </div>
    <mat-card-title>
      My Active Bets
    </mat-card-title>
    <mat-card-subtitle>
      Artists that will win you coins if played
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let bet of myBets">
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <h4 mat-line>{{bet.artist}}</h4>
        <p mat-line>Rounds {{bet.startRound}} - {{bet.endRound}}</p>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>
