<md-card style="margin-top:8px">
  <md-card-header>
    <md-card-title>My Active Bets</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list color=primary>
      <md-list-item *ngFor="let bet of myBets;">
        <md-icon md-list-icon>call_to_action</md-icon>
        <h4 md-line>Artist: {{bet.artist}}</h4>
        <p md-line>Start Round: {{bet.startRound}}</p>
        <p md-line>End Round: {{bet.endRound}}</p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-card-content>
</md-card>