<md-card style="margin-top:8px">
  <md-card-header>
    <md-card-title>
      <h2>My Active Bets</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
      <md-card *ngFor="let bet of myBets;">
        <md-card-header>
          <md-icon md-card-avatar md-list-icon>queue_music</md-icon>
          <md-card-title>{{bet.artist}}</md-card-title>
          <md-card-subtitle>Rounds {{bet.startRound}} - {{bet.endRound}}</md-card-subtitle>
        </md-card-header>
      </md-card>
  </md-card-content>
</md-card>