<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->


<mat-toolbar color="primary" style="position:fixed; z-index: 2;">
  <button *ngIf="!searching" mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="!searching">RockChain by Omni</span>
  <div *ngIf="!searching" class="flex-spacer"></div>


  <button mat-icon-button (click)="search(false)" *ngIf="searching">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <mat-form-field *ngIf="searching" class="artist-search">
    <input matInput placeholder="Artist" [matAutocomplete]="auto" [formControl]="artistCtrl">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
      {{ artist }}
    </mat-option>
  </mat-autocomplete>
  <button mat-icon-button (click)="artistCtrl.reset()" *ngIf="searching">
    <mat-icon>close</mat-icon>
  </button>
  <!--<button mat-icon-button (click)="search(true)" *ngIf="!searching">
    <mat-icon>search</mat-icon>
  </button>-->
</mat-toolbar>