<md-sidenav-container>
  <md-sidenav #sidenav class="docs-component-viewer-sidenav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

    <md-toolbar color="white">
        <img  src="rockchain-header-logo-300x100-01.png">

      <md-toolbar-row>
        <span>Make-A-Wish</span>
        <span class="example-spacer"></span>
        <md-icon>looks_two</md-icon>
        <span> of </span>
        <md-icon>looks_3</md-icon>
      </md-toolbar-row>

      <md-toolbar-row>
        <span *ngIf="wallet">Ꮻ {{wallet.balance | number : '1.4-4'}}</span>
      </md-toolbar-row>
    </md-toolbar>

    <md-nav-list>
      <md-divider></md-divider>
      <h3 md-subheader>Dashboards</h3>
      <a md-list-item routerLink="/bets" routerLinkActive="active">
        <md-icon md-list-icon>casino</md-icon>
        <h4 md-line>Play</h4>
      </a>
      <a md-list-item routerLink="/playing" routerLinkActive="active">
        <md-icon md-list-icon>audiotrack</md-icon>
        <h4 md-line>Now Playing</h4>
        <p md-line>{{currentSong.artist}} - {{currentSong.title}}</p>
      </a>
      <a md-list-item routerLink="/wallet" routerLinkActive="active">
        <md-icon md-list-icon>local_atm</md-icon>
        <h4 md-line>My Wallet</h4>
        <p md-line *ngIf="wallet">{{wallet.id}}</p>
      </a>
      <a md-list-item routerLink="/standings" routerLinkActive="active" *ngIf="!iPhoneUser">
        <md-icon md-list-icon>sort</md-icon>
        <h4 md-line>Standings</h4>
      </a>
      <md-divider></md-divider>
      <a md-list-item routerLink="/about" routerLinkActive="active">
        <md-icon md-list-icon>live_help</md-icon>
        <h4 md-line>About</h4>
      </a>
      <a md-list-item href="http://omniresources.com/careers" target="_blank">
        <md-icon md-list-icon>group_add</md-icon>
        <h4 md-line>We're Hiring!</h4>
      </a>
    </md-nav-list>
  </md-sidenav>
  <app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>

  <div class="app-body">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</md-sidenav-container>