<mat-sidenav-container #container>
  <mat-sidenav #sidenav class="docs-component-viewer-sidenav" [opened]="'false'" [mode]="'over'">

    <mat-toolbar color="white">
        <img  src="rockchain-header-logo-300x100-01.png">

      <mat-toolbar-row *ngIf="charity">
        <mat-icon svgIcon="{{charity.icon}}"> </mat-icon>
        <span>{{charity.name}}</span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span *ngIf="wallet">Ꮻ {{wallet.balance | number : '1.4-4'}}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Dashboards</h3>
      <a mat-list-item routerLink="/bets" routerLinkActive="active">
        <mat-icon mat-list-icon>casino</mat-icon>
        <h4 mat-line>Play</h4>
      </a>
      <a mat-list-item routerLink="/playing" routerLinkActive="active">
        <mat-icon mat-list-icon>audiotrack</mat-icon>
        <h4 mat-line>Now Playing</h4>
        <p mat-line>{{currentSong.artist}} - {{currentSong.title}}</p>
      </a>
      <a mat-list-item routerLink="/wallet" routerLinkActive="active">
        <mat-icon mat-list-icon>local_atm</mat-icon>
        <h4 mat-line>My Wallet</h4>
        <p mat-line *ngIf="wallet">{{wallet.id}}</p>
      </a>
      <a mat-list-item routerLink="/standings" routerLinkActive="active" *ngIf="!iPhoneUser">
        <mat-icon mat-list-icon>sort</mat-icon>
        <h4 mat-line>Standings</h4>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon mat-list-icon>live_help</mat-icon>
        <h4 mat-line>About</h4>
      </a>
      <a mat-list-item href="http://omniresources.com/careers?rockchain" target="_blank">
        <mat-icon mat-list-icon>group_add</mat-icon>
        <h4 mat-line>We're Hiring!</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>

  <div class="app-body">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>