.app-body {
  margin: 8px;
  margin-top: 64px;
}

@media (max-width: 850px) {
  mat-sidenav {
    width: 80%;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  position: absolute;
  min-height: 100% !important;
  width: 100%;
}
