<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav #sidenav class="docs-component-viewer-sidenav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    
    <md-grid-list cols="3" >
  <md-grid-tile *ngIf="wallet && wallet.id"
      [colspan]="3"
      [rowspan]="1">
    {{wallet.id}}
  </md-grid-tile>
  <md-grid-tile
      [colspan]="1"
      [rowspan]="1">
    foo
  </md-grid-tile>
    <md-grid-tile
      [colspan]="2"
      [rowspan]="1">
    bar
  </md-grid-tile>
</md-grid-list>
    
    <md-list>
      <h3 md-subheader>Folders</h3>
      <md-list-item *ngIf="wallet && wallet.id">
        <md-icon md-list-icon>account_balance_wallet</md-icon>
        <h4 md-line>Wallet</h4>
        <p md-line>{{wallet.balance}}</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>equalizer</md-icon>
        <h4 md-line>Now Playing</h4>
        <p md-line>{{nowPlayingTitle}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Admin</h3>
      <md-list-item>
        <md-icon md-list-icon>donut_large</md-icon>
        <h4 md-line>Standings</h4>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>info</md-icon>
        <h4 md-line>About RockChain</h4>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <app-navbar [class.mat-elevation-z6]="showShadow" (toggleSidenav)="sidenav.toggle()"></app-navbar>

  <div class="app-body">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</md-sidenav-container>