<mat-card style=margin-top:8px>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary">equalizer</mat-icon>
    </div>
    <mat-card-title>
      Wallet Leaderboard
    </mat-card-title>
    <mat-card-subtitle>
      Individual's probability of winning the grand prize
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-spinner *ngIf="!top20 || !top20.length" mode="indeterminate">
    </mat-progress-spinner>
    <mat-list *ngIf="top20">
      <mat-list-item *ngFor="let balance of top20; index as i">
        <mat-icon mat-list-icon [ngSwitch]="i">
          <span *ngSwitchCase="0">stars</span>
          <span *ngSwitchCase="1">looks_two</span>
          <span *ngSwitchDefault>{{ i < 5 ? "looks_" + (i + 1) : "keyboard_arrow_right"}}</span>
        </mat-icon>
        <mat-icon [ngStyle]="{ 'color': '#' + balance.account.substring(2,8) }" mat-list-icon>
          {{isMyWallet(balance.account) ? "tag_faces": "label"}}
        </mat-icon>
        <h4 mat-line>{{balance.account}}</h4>
        <p mat-line style="display: flex">Win Probability: {{balance.balance / top20Total | percent: '1.2-2'}}
          <span style="flex-grow: 1"></span> Ꮻ {{balance.balance | number : '1.4-4'}}</p>
        <mat-progress-bar mat-line mode="determinate" value="{{balance.balance / top20Total * 100}}"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
