<md-card style=margin-top:8px>
  <md-card-header>
    <md-card-title>
      <md-toolbar color="primary">
        Wallet Leaderboard
      </md-toolbar>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-progress-spinner *ngIf="!balances.length" mode="indeterminate">
    </md-progress-spinner>
    <md-list *ngIf="balances">
      <md-list-item *ngFor="let balance of balances; index as i">
        <md-icon *ngIf="i === 0" md-list-icon>stars</md-icon>
        <md-icon *ngIf="i === 1" md-list-icon>looks_two</md-icon>
        <md-icon *ngIf="i > 1 && i < 5" md-list-icon>looks_{{i+1}}</md-icon>
        <md-icon *ngIf="i >= 5" md-list-icon>keyboard_arrow_right</md-icon>
        <md-icon *ngIf="isMyWallet(balance.account)" [ngStyle]="{ 'color': '#' + balance.account.substring(2,8) }" md-list-icon>tag_faces</md-icon>
        <md-icon *ngIf="!isMyWallet(balance.account)" [ngStyle]="{ 'color': '#' + balance.account.substring(2,8) }" md-list-icon>label</md-icon>
        <h4 md-line>{{balance.account}}</h4>
        <p md-line style="display: flex"><span style="flex-grow: 1"></span>Ꮻ{{balance.balance}}</p>
        <md-progress-bar md-line mode="determinate" value="{{getBalancePercentage(balance.balance)}}"></md-progress-bar>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>