<md-card style="margin-top:8px">
  <md-card-content>
    <md-grid-list cols="2" rowHeight="150px">
      <md-grid-tile colspan="1" rowspan="1">
        <md-grid-tile-header>
          Current Round
        </md-grid-tile-header>
        {{wagerService.currentRound$ | async}}
      </md-grid-tile>
        <md-grid-tile colspan="1" rowspan="1">
          <md-grid-tile-header>
            Pot
          </md-grid-tile-header>
        {{roundPot}}
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
  <md-tab-group>
    <md-tab label="Recent Bets">
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let bet of betsArr; index as i">
            <md-icon md-list-icon>local_play</md-icon>
            <md-icon *ngIf="bet.wallet" [ngStyle]="{ 'color': '#' + bet.wallet.substring(2,8) }" md-list-icon>label</md-icon>
            <h4 md-line>{{bet.wallet}}</h4>
            <p md-line>{{bet.artist}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-tab>
    <md-tab label="Recent Winners">
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let winner of winnersArr">
            <md-icon md-list-icon>grade</md-icon>
            <md-icon *ngIf="winner.wallet" [ngStyle]="{ 'color': '#' + winner.wallet.substring(2,8) }" md-list-icon>label</md-icon>
            <h4 md-line>{{winner.wallet}}</h4>
            <p md-line>{{winner.win}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>