<md-card style="margin-top:8px">
  <md-card-title>Current Round</md-card-title>
  <md-card-content>
    <md-grid-list cols="2" rowHeight="50px">
      <md-grid-tile colspan="1" rowspan="1">
        Round: {{wagerService.currentRound$ | async}}
      </md-grid-tile>
      <md-grid-tile colspan="1" rowspan="1">
        <div *ngIf="roundPot; else loading">
          Pot: {{roundPot}}
        </div>
        <ng-template #loading >
          Pot: <md-progress-spinner mode="indeterminate" class="round-pot-spinner"></md-progress-spinner>
        </ng-template>
      </md-grid-tile>
    </md-grid-list>
    <md-tab-group>
      <md-tab label="Recent Bets">
        <md-card-content>
          <md-list>
            <md-list-item *ngFor="let bet of betsArr; index as i">
              <md-icon *ngIf="bet.wallet" md-list-icon [ngStyle]="{ 'color': '#' + bet.wallet.substring(2,8) }">local_play</md-icon>
              <h4 md-line>{{bet.wallet}}</h4>
              <p md-line>{{bet.artist}}</p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-tab>
      <md-tab label="Recent Winners">
        <md-card-content>
          <md-list>
            <md-list-item *ngFor="let winner of winnersArr">
              <md-icon *ngIf="winner.wallet" [ngStyle]="{ 'color': '#' + winner.wallet.substring(2,8) }" md-list-icon>grade</md-icon>
              <h4 md-line>{{winner.wallet}}</h4>
              <p md-line>{{winner.win}}</p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
